@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-background: #f8f8f8;
  --font-Exo-2: "Exo 2", sans-serif;
  --text-dark-text: #E0E0E0
}
